USE [QLSV]
GO
/****** Object:  Table [dbo].[LopHP]    Script Date: 24/03/2025 7:04:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHP](
	[maLopHP] [nchar](10) NOT NULL,
	[TenLopHP] [nvarchar](50) NULL,
	[HK] [int] NULL,
	[maMon] [nchar](10) NOT NULL,
	[maGV] [nchar](10) NOT NULL,
	[MaBM] [nchar](10) NOT NULL,
	[MaKhoa] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LopHP_1] PRIMARY KEY CLUSTERED 
(
	[maLopHP] ASC,
	[maMon] ASC,
	[maGV] ASC,
	[MaBM] ASC,
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_GiaoVien] FOREIGN KEY([maGV], [MaBM], [MaKhoa])
REFERENCES [dbo].[GiaoVien] ([magv], [MaBM], [maKhoa])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_GiaoVien]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_MonHoc] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonHoc] ([mamon])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_MonHoc]
GO
